<div>
    <h2 id="page-heading">
        <span jhiTranslate="apigatewayApp.analysisAnalysisSetting.home.title">Analysis Settings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-analysis-setting" [routerLink]="['/analysis-setting/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="apigatewayApp.analysisAnalysisSetting.home.createLabel">
            Create new Analysis Setting
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="analysisSettings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="apigatewayApp.analysisAnalysisSetting.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="apigatewayApp.analysisAnalysisSetting.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userVisible"><span jhiTranslate="apigatewayApp.analysisAnalysisSetting.userVisible">User Visible</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="options"><span jhiTranslate="apigatewayApp.analysisAnalysisSetting.options">Options</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="analysisType"><span jhiTranslate="apigatewayApp.analysisAnalysisSetting.analysisType">Analysis Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="analysisInputTypes"><span jhiTranslate="apigatewayApp.analysisAnalysisSetting.analysisInputTypes">Analysis Input Types</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let analysisSetting of analysisSettings ;trackBy: trackId">
                <td><a [routerLink]="['/analysis-setting', analysisSetting.id, 'view' ]">{{analysisSetting.id}}</a></td>
                <td>{{analysisSetting.name}}</td>
                <td jhiTranslate="{{'apigatewayApp.AnalysisSettingType.' + analysisSetting.type}}">{{analysisSetting.type}}</td>
                <td>{{analysisSetting.userVisible}}</td>
                <td>{{analysisSetting.options}}</td>
                <td jhiTranslate="{{'apigatewayApp.AnalysisType.' + analysisSetting.analysisType}}">{{analysisSetting.analysisType}}</td>
                <td>{{analysisSetting.analysisInputTypes.join(', ')}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/analysis-setting', analysisSetting.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/analysis-setting', analysisSetting.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'analysis-setting/'+ analysisSetting.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="analysisSettings && analysisSettings.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
